:root {
    --bg: #1e1e2e;
    --link-color: #cdd6f4;
    --group-color:  #89b4fa;
    --hover-link: #f38ba8;
    --hover-group: #89dceb;
    --border: #b4befe;
}

html {
    background-color: var(--bg);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 97vh;
}

p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--group-color);
    transition-duration: 0.5s;
}

p:hover {
    color: var(--hover-link);
    cursor: pointer;    
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition-duration: 0.5s;
}

a:visited { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { 
    text-decoration: none; 
    color: var(--hover-link);
}

.group {
    width: 450px;
    padding-bottom: 10px;
}

.group-links {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}