html {
    background-color: #1e1e2e;
    font-size: 30px;
}

body {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

textarea {
    font-size: 20px;
    background-color: #11111b;
    color: #cdd6f4;
    width: 60vw;
    height: 60vh;
    outline: none;
    border-color: #89b4fa;
    border-radius: 5px;
    resize: vertical;
    padding: 5px;
}

button {
    color: #89b4fa;
    background-color: #1e1e2e;
    border-color: #89b4fa;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}